.otherOptions {
  flex-direction: row;
}
.otherOptions a {
  width: 100%;
}
.otherOptions a:nth-child(1) {
  margin: 0 0.25rem 0 0;
}

/* Two Fa */
.topInfoText {
  margin: 0.85rem 0;
}
.mobNumber {
  display: flex;
}
.mobNumber input {
  flex-grow: 1;
  margin: auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: 1px solid var(--light_gray);
}
.mobNumber button {
  flex-grow: 1;
}
