.addMoneyTypeContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.253));
  padding: 2rem 3rem;
  border-radius: 0.25rem;
}

.amtInputContainer {
  display: flex;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  margin: 0.25rem;
}
.amtInputContainer input {
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: center;
  outline: none;
  padding: 0.75rem;
  box-shadow: 0 1px 3px rgb(218, 218, 218);
}

.amtInputContainer #fromType {
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: center;
  outline: none;
  padding: 0.75rem;
  box-shadow: 0 1px 3px rgb(218, 218, 218);
  font-family: var(--sora);
}

.amtInputContainer #fromType option {
  font-family: var(--sora);
  padding: 0.5rem 0;
}

.amtInputContainer .green {
  color: var(--dark_green);
}
.amtInputContainer .red {
  color: var(--dark_red);
}

@media screen and (max-width: 1025px) {
  .addMoneyTypeContainer {
    padding: 1rem;
  }
}
