nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #ffffffea;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  position: absolute;
  width: 100%;
  z-index: 100;
}

.logo .pMedium {
  margin-left: 3rem;
}

.infoNavContainer,
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoNavContainer svg {
  font-size: var(--svg_size);
  color: var(--svg_color);
  margin: 0 2rem;
}
.profileCircle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.profileCircle img {
  width: 100%;
}
