.sideNavbar {
  width: 80px;
  height: 100vh;
  background-color: var(--white_color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}

.dashboardLinks {
  list-style: none;
}
.sideNavbar ul li {
  list-style-type: none;
  list-style: none;
}

.sideNavbar a {
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.65rem;
  margin: 1.5rem 0;
  transition: all 0.25s ease;
}
.sideNavbar a.active {
  background-color: var(--white_color);
  border-radius:0.25rem;
  box-shadow: 2px 2px 0px rgb(208, 208, 208);
  position: relative;
}


.sideNavbar a svg {
  font-size: var(--svg_size);
  color: var(--svg_color);
}

@media screen and (max-width: 1025px) {
  .sideNavbar {
    width: 60px;
  }
}

@media screen and (max-width:769px) {
    .sideNavbar {
      flex-direction: row;
      width: 100%;
      height: 60px;
    }
    .sideNavbar ul 
    {
      display: flex;
    }
    .sideNavbar ul li 
    {
      margin:0 1rem ;
    }
}


@media screen and (max-width:523px) {
    .sideNavbar
    {
      overflow-x: scroll;
      padding: 0 2rem ;
    }

    .sideNavbar::-webkit-scrollbar
    {
      display: none;
    }
}