.chartContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chartContainer div {
  height: 50vh;
  width: 50%;
  background-color: white;
  margin: 0 0.85rem;
}

.historySection {
  padding: 1rem 0;
  margin: 0.85rem 0;
}

@media screen and (max-width: 769px) {
  .chartContainer {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
  }
  .chartContainer div {
    --size: 400px;
    height: var(--size);
    min-width: var(--size);
    margin: 0 1rem ;
  }
}
