.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboardFooter {
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
}
.dbfLeft {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addMoneyContainer {
  width: 100%;
}
.amcNavbar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: inherit;
  background-color: white;
}
.amcNavbar a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.8rem;
  border: 1px solid rgb(240, 240, 240);
}

.amcNavbar a:active {
  background-color: rgb(213, 213, 213);
}
.transactionsHistoryContainer {
  width: 100%;
  margin: 1rem 0 0;
  padding: 0.85rem 1rem;
  font-size: var(--p_12);
}

.analyticsContainer {
  background-color: white;
  width: 58%;
  text-align: center;
}

@media screen and (max-width: 1025px) {
  .dashboardHeader {
    overflow: scroll;
  }
}

@media screen and (max-width: 769px) {
  .dashboardFooter {
    flex-direction: column;
  }
  .dbfLeft {
    width: 100%;
    padding: 2rem 4vw;
  }
  .transactionsHistoryContainer {
    padding: 1rem 0;
    border-radius: 0.25rem;
  }
  .analyticsContainer {
    background-color: white;
    width: 100%;

  }
}
