.profilePage {
  display: flex;
}
.profileSection {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profilePage .gradientProfile {
  --size: 180px;
  width: var(--size);
  height: var(--size);
  margin-bottom: 1rem;
  transition: all 0.5s ease;
}
.profilePage .gradientProfile:hover {
  border-radius: 5%;
}
.profileEdits {
  --bradius: 0.85rem;
  background-color: var(--white_color);
  border-radius: var(--bradius);
  font-weight: 600;
  width: 100%;
}

.editSection {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 0px rgb(201, 201, 201);
}
.editIcon,
.editSection .pMedium {
  padding: 1rem 1.85rem;
  border-top-right-radius: var(--bradius);
}

.editSection .editIcon svg {
  font-size: var(--svg_size);
  cursor: pointer;
}
.userInfo {
  padding: 0.85rem 0;
}
.userValues {
  padding: 0rem 1.85rem;
}
.userValues .tinyText {
  text-transform: uppercase;
  color: var(--light_gray);
}
.userValueInput {
  width: 100%;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 0.15rem;
}

.profileSection .defaultBtn {
  color: var(--light_gray);
  width: 100%;
  margin: 1.8rem 0 0;
  padding: 1.25rem;
}

.settingsSection {
  flex-grow: 1;
}

.settingsSection .settingsHeader
{
  display: none;
}
@media screen and (max-width: 1025px) {
  .profileSection {
    width: 42%;
    padding: 0 1rem;
  }
  .profilePage .gradientProfile {
    --size: 150px;
  }
}
@media screen and (max-width: 769px) {
  .profileSection
  {
    width: 48%;
  }
  .userValues {
    padding: 0rem 0.85rem;
  }
}


@media screen and (max-width: 426px) {

  .profilePage
  {
    flex-direction: column;
  }
  .profileSection
  {
    width: 100%;
  }
  .userValues {
    padding: 0rem 0.85rem;
  }
  .settingsSection
  {
    padding: 3rem 0;
  }
    .settingsHeader
  {
    display: block;
    padding-left: 5vw;
  }
}