.settingsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 0 0.95rem;
}

.updateBtnsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
}
.updateBtn {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.25rem;
}
.updateBtn a,
.updateBtn a .defaultBtn {
  width: 100%;
}

@media screen and (max-width: 1025px) {
  .updateBtnsContainer
  {
    width: 40vw;
  }
}

@media screen and (max-width: 426px) {
 
  .updateBtnsContainer
  {
    width: 100%;
  }
}