@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
  /* font-family: "Sora", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  /* font family */
  --sora: "Sora", "Space Grotesk", sans-serif;
  --monte: "Montserrat", "Inter", sans-serif;

  /* font size */
  --h_50px: 2.35rem;
  --h_32px: 1.95rem;
  --h_26px: 1.625rem;
  --p_20px: 1.25rem;
  --p_16px: 1rem;
  --p_14px: 0.879rem;
  --tiny_text: 0.65rem;

  /* colors */
  
  --light_gray: #efefef;
  --white_color: white;
  --blue_color: #7091f5;
  --light_green: #00ab88;
  --light_gray: #636363;
  --light_red: #ff6969;
  --dark_gray: #3b3b3b;
  --dark_green: #00725a;
  --dark_red: #c90000;
  --wheat_active: rgb(255, 243, 220);
  --wheat_inactive: rgb(255, 251, 243);
  --lightest_white: rgb(225, 216, 216);

  /* svg */
  --svg_size: 1.5rem;
  --svg_color: var(--dark_gray);
}

.hLarge {
  font-family: "Sora";
  font-size: var(--h_50px);
  font-weight: 600;
}

.hMedium {
  font-family: "Sora";
  font-size: var(--h_32px);
  font-weight: 600;
}

.hSmall {
  font-family: "Sora";
  font-size: var(--h_26px);
  font-weight: 600;
}

.pLarge {
  font-family: var(--sora);
  font-size: var(--p_20px);
  font-weight: 600;
}
.pMedium {
  font-family: var(--monte);
  font-size: var(--p_16px);
}
.pSmall {
  font-family: var(--monte);
  font-size: var(--p_14px);
}

.tinyText {
  font-family: var(--monte);
  font-size: var(--tiny_text);
  font-weight: 500;
}
.darkGreen {
  color: var(--dark_green);
}
.darkRed {
  color: var(--dark_red);
}
.darkGray {
  color: var(--dark_gray);
}

.glassBg {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.39),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 0.85rem;
}

/* buttons */
.defaultBtn {
  border: none;
  background-color: white;
  border-radius: 0.25rem;
  padding: 0.75rem;
  color: var(--dark_gray);
  cursor: pointer;
  font-family: var(--sora);
  font-weight: 600;
  font-size: var(--p_16px);
}
.buttonWithIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.85rem 1.25rem;
}
.buttonWithIcon svg {
  font-size: var(--svg_size);
  color: var(--svg_color);
  margin: 0 0.85rem;
}
.lightGreenBg {
  background-color: var(--light_green);
  color: var(--white_color);
}
.darkGreenBg {
  background-color: var(--dark_green);
  color: var(--white_color);
}
.darkRedBg {
  background-color: var(--dark_red);
  color: var(--white_color);
}
.lightRedBg {
  background-color: var(--light_red);
  color: var(--white_color);
}
.darkGrayBg {
  background-color: var(--dark_gray);
  color: var(--white_color);
}
.hideBtn {
  cursor: not-allowed;
  background-color: var(--light_gray);
}
.showBtn {
  cursor: pointer;
}

/*input elements*/
.inputEle {
  padding: 0.95rem 1rem;
  border: none;
  outline: none;
  font-size: var(--p_16px);
  font-family: var(--sora);
  font-weight: 500;
  background-color: var(--white_color);
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}
.svgWhite svg {
  color: var(--white_color);
}
.svgDark svg {
  color: var(--dark_gray);
}
/* body */
body {
  color: var(--dark_gray);
  background-image: url("/public/bg_svg.svg");
  background-size: cover;
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar, body::-webkit-scrollbar, .appContainer::-webkit-scrollbar
{
  display: none;
}

.appContainer {
  display: flex;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.routesContainer {
  padding: 10vh 2rem;
  min-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.routesContainer::-webkit-scrollbar
{
  width: 5px;
  background-color: white;
  border-radius: 1rem;
}
.routesContainer::-webkit-scrollbar-thumb
{
  background-color: var(--light_green);
  width: 100%;
    border-radius: 1rem;

}
.insideRoutesContainer {
  padding: 2rem;
  border-radius: 0.85rem;
  min-width: 90vw;
  min-height: 100%;
}
.addingDotAnimation {
  display: flex;
  align-items: center;
}
.dotAnimateIcon {
  width: 7px;
  height: 7px;
  background-color: var(--light_green);
  border-radius: 50%;
  position: relative;
  margin: 0 1rem;
  animation: animateDot 2s ease-out infinite;
}


@keyframes animateDot {
  0% {
   box-shadow: 0 0 0px 2px rgb(122, 255, 151);
   
  }
  50% {
   box-shadow: 0 0 0px 10px rgba(122, 255, 151, 0.0);
  }
}


.gradientProfile{
  --size: 30px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-image: linear-gradient(rgb(255, 165, 193), rgb(169, 235, 251));
}